body {
  font-family: 'Montserrat', sans-serif;
  margin: 0% 20%;

  @media (max-width: 820px) {
    margin: 0% 10%;
  }
}

h4 {
  font-size: 1rem;
  color: rgb(80, 80, 80);
}

h3 {
  font-size: 1.5rem;
  color: rgb(80, 80, 80);
  line-height: 2.5rem;
  margin: 2rem 0rem;
}

a {
  color: rgb(80, 80, 80);
}
